{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header class="masthead">
<style>
    .masthead { 
        background-image: url('/images/tricks/home.jpg'); 
        background-repeat: no-repeat; 
        background-size: 100%; 
        background-position:center center; 
        padding: 50px; 
        }
    .arrow-down {
            float:right; 
            padding-top:20px; 
            margin-right: -40px; 
            font-size: 30px;
        }
    @media (min-width: 576px) {
        .masthead { 
            background-image: url('/images/tricks/home.jpg'); 
            background-repeat: no-repeat; 
            background-size: 100%; 
            background-position:center center; 
            padding: 150px;
            }
        .arrow-down {
            float:right; 
            padding-top:50px; 
            margin-right: -140px; 
            font-size: 30px;
        }
    }
    @media (min-width: 992px) {
        .masthead { 
            background-image: url('/images/tricks/home.jpg'); 
            background-repeat: no-repeat; 
            background-size: cover; 
            background-position:center center; 
            padding: 300px;
            }
        .arrow-down {
            float:right; 
            padding-top:250px; 
            margin-right: -240px; 
            font-size: 30px;
        }
    }
</style>
      <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                  <div class="site-heading example-wrapper">
                      <h1 style="color: white">Hello {{ controller_name }}! ✅</h1>
                      <span class="subheading">This friendly message is coming from:</span>
                  </div>
              </div>
          </div>
      </div>
      <a href="#bottom-page" title="To down page">
        <i class="fa-solid fa-arrow-down arrow-down"></i>
        <span style="display:none">To down</span>
     </a>
  </header>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/OCR_snowTricks_P6/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/OCR_snowTricks_P6/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
<h1>Liste des tricks</h1>
    <style>
        .gallery {
            display: flex;
            flex-wrap: wrap;
        }

        .gallery-item {
            width: 300px;
            margin: 10px;
        }

        .gallery-item img {
            width: 100%;
            height: 100%;
        }
    </style>
    <div class="gallery">
            <div class="gallery-item container-sm">
                <a href="#"><img src="/images/tricks/home.jpg" alt="default-trick"></a>
                <br><br>
                <figcaption class="gallery" style="justify-content: space-between; border: solid;">
                    <h3 style="margin: 4px">Title-1</h3>
                    <a href="#"><i class="fas fa-pencil fa-2x" style="margin: 4px"></i></a>
                    <a href="#"><i class="fas fa-trash fa-2x" style="margin: 4px;"></i></a>
                </figcaption>
            </div>
            <div class="gallery-item container-sm">
                <a href="#"><img src="/images/tricks/accessoires-snowboard.jpg" alt="default-trick"></a>
                <br><br>
                <figcaption class="gallery" style="justify-content: space-between; border: solid;">
                    <h3 style="margin: 4px">Title-2</h3>
                    <a href="#"><i class="fas fa-pencil fa-2x" style="margin: 4px"></i></a>
                    <a href="#"><i class="fas fa-trash fa-2x" style="margin: 4px;"></i></a>
                </figcaption>
            </div>
    </div>

    <br><br />
        <a href="#" title="To top page" id="bottom-page">
            <i class="fa-solid fa-arrow-up" style="float:right; padding-right:40px; font-size: 30px; "></i>
            <span style="display:none">To top</span>
        </a>
{% endblock %}
