{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header class="masthead">
<style>
    .masthead { background-image: url('/images/home.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center center; padding: 300px; }
</style>
      <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                  <div class="site-heading example-wrapper">
                      <h1 style="color: white">Hello {{ controller_name }}! ✅</h1>
                      <span class="subheading">This friendly message is coming from:</span>
                  </div>
              </div>
          </div>
      </div>
  </header>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/OCR_snowTricks_P6/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/OCR_snowTricks_P6/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
    <br></br>
{% endblock %}
