/*!
*Start css snowtricks community
*
*/
.button-link {
    border: 3px solid #3CC;
    margin: 5% auto;
    height: 50px;
    width: 40%;
    background-color: #3CC;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}
.gd {
    display: grid;
    align-items: center;
}
.masthead { 
    background-image: url('/images/tricks/home.jpg'); 
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-position:center center; 
    padding: 70px;
}
.masthead-trick {
    width: 100%;
    height: 80%;
}
.masthead-cover-trick {
    text-align: center;
    display: block;
    position: absolute;
    right: 16px;
    top: -150px;
}
.arrow-down {
    float:right; 
    margin-top:-40px; 
    margin-right: -40px; 
    font-size: 30px;
}
.fig-gallery-trick {
    background-color: #3CC;
    width: 100%;
    height: 55%;
    margin-left: auto;
    margin-right: auto;
}
.fig-gallery-trick-background-image {
    text-align: center;
    background-color: #3CC;
    border: 3px solid #3CC; 
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    padding: 5px 15px 5px 0px;
}
.fig-gallery {
    background-color: #3CC;
    justify-content: center; 
    border: 3px solid #3CC; 
    display: flex; 
    flex-wrap: wrap;
}
 .comment-gallery {
    display: flex; 
    flex-wrap: nowrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.comment{
    border: 3px solid #3CC;
    margin: 5px;
    padding: 5px;
    width: 300px; 
}
.user-comment{
    margin-left: auto; 
    margin-right: auto; 
    width: 300px; 
}
.gallery-item {
    width: 300px;
    height: 200px;
    margin: 50px 50px 50px 50px;
}
.gallery-item-trick {
    width: 300px;
    height: 200px;
    margin: 50px 50px 50px 30px;
    }
.gallery-comment-trick {
    width: 300px;
    margin: 10px;
}
.gallery-item-trick-info {
    width: 250px;
    height: 150px;
    margin: auto;
}
.gallery-item-trick img {
    width: 100%;
    height: 80%;
    display: flex;
}
.gallery-item-trick iframe {
    width: 100%;
    height: 80%;
    display: flex;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    display: flex;
}
.icon-fig {
    width: 20px;
    height: 20px;
}
.pencil {
    margin: 10px 16px 4px 12px;
    font-size: 20px;
}
.trash {
    margin: 10px 4px 4px 4px;
    font-size: 20px;
    }
.avatar {
    width: 25%; 
    border-radius: 100%;
}
.a-title{
    color: grey; 
    text-decoration:none;
}
.btn-medias{
    text-align: center;
    margin-top: 32px;
}
.dspDate{
    display: none; 
}
.dspN {
    display : none;
}
.example-wrapper { 
    margin:  auto; 
    max-width: 800px; 
    width: 95%; 
    font: 18px/1.5 sans-serif; 
}
.example-wrapper code { 
    background: #F5F5F5; 
    padding: 2px 6px; 
}
.dspNone {
    display: none;
}
@media (min-width: 360px) {
    .arrow-down {
        float:right;
        margin-top: 0px; 
        padding-top:0px; 
        margin-right: -40px; 
        font-size: 30px;
    }
    .gallery-item {
        width: 300px;
        height: 200px;
        margin: 50px 50px 50px 60px;
    }

}
@media (min-width: 390px) {
    .gallery-item {
        width: 300px;
        height: 200px;
        margin: 50px 50px 50px 80px;
    }
}
@media (min-width: 576px) {
    .gallery-item {
        width: 200px;
        height: 100px;
        margin: 50px 50px 50px 100px;
    }
    .gallery-item-trick {
        width: 300px;
        height: 200px;
        margin: 50px 50px 50px 30px;
    }
    .gallery-item-trick-info {
        width: 300px;
        height: 200px;
        margin: auto;
    }
    .gallery-home {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .typo {
        font-size: 16px;
    }
     .pencil {
        margin: 4px 16px; 
    }
    .trash {
        margin: 4px;
    }
    .icon-fig {
        width: 20px;
        height: 20px;
    }
    .button-link {
        margin: 10% 40% auto;
        width: 30%;
    }
    .fig-gallery-trick {
        height: 30%;
    }
    .fig-gallery-trick-background-image {
        right: 16px;
        top: 30px;
    }
    .masthead-cover-trick {
        align-items: center;
        text-align: center;
        display: block;
        position: absolute;
        right: 16px;
        top: -200px;
    }
    .arrow-down {
        float:right; 
        padding-top:30px; 
        margin-right: -40px; 
        font-size: 30px;
    }
}
@media (min-width: 992px) {

    .gallery { 
        display: flex;
        flex-wrap: wrap;
    }
    .gallery-home {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    .gallery-item {
        width: 250px;
        height: 150px;
        margin: 50px 50px 50px 80px;
    }
    .gallery-item-trick {
        width: 350px;
        height: 280px;
        margin: 50px 50px 50px 20px;
    }
    .gallery-item-trick-info {
        width: 300px;
        height: 200px;
        margin: auto;
    }
    .gallery-comment-trick {
        width: 500px;
        margin: 10px;
    }
    .typo {
        font-size: 16px;
    }
    .pencil {
        margin: 4px 16px; 
    }
    .trash {
        margin: 4px;
    }
    .icon-fig {
        width: 14px;
        height: 14px;
    }
    .button-link {
        width: 20%;
    }
    .backgroung-content-color {
        background:  rgba(107, 206, 173, 0.1) ;
        background-repeat: no-repeat; 
        background-position: top center;
        width: 90%;
        margin: 0px 100px;
        padding-top: 80px;
    }
    .masthead { 
        background-image: url('/images/tricks/home.jpg'); 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position:center center; 
        padding: 300px;
    }
    .masthead-child { 
        background-image: url('/images/tricks/home.jpg'); 
        background-repeat: no-repeat; 
        background-size: 100%; 
        background-position: top center; 
    }
    .masthead-trick {
        width: 90%;
        height: 550px;
        margin-left: 6%;
    }
    .masthead-cover-trick {
        text-align: center;
        display: block;
        position: absolute;
        right: 150px;
        top: -340px;
    }
    .fig-gallery-trick {
        height: 15%;
    }
    .fig-gallery-trick-background-image {
        right: 15%;
        top: 25%;
    }
    .arrow-down {
        float:right; 
        padding-top:250px; 
        margin-right: -240px; 
        font-size: 30px;
    }
    .avatar {
        width: 15%; 
        border-radius: 100%;
    }
    .comment{
        border: 3px solid #3CC;
        margin: 5px;
        padding: 5px;
        width: 500px; 
    }
    .user-comment{
        margin-left: auto; 
        margin-right: auto; 
        width: 500px; 
    }
    .dispN {
        display: none;
    }
    .dspNone {
        display: contents;
    }
}
@media (min-width: 1400px) {
    .masthead-trick {
        width: 90%;
        height: 750px;
        margin-left: 6%;
    }
}
@media (min-width: 1800px) {
    .masthead-trick {
        width: 1500px;
        height: 850px;
        margin-left: 6%;
    }
}